<%- include('partials/header') -%>

    <!-- code related to the main header section -->
    <!--Some Illustrations-->
    <div class="container">
        <img src="illustrationpng.png"  alt="Blog Image" />
    </div>
    
    <!--Post Section-->

<%- include('partials/footer') -%>