<%- include('partials/header') -%>
<div class="postContainer"> 
<h3 class="post-title text-center"> <%= title %> </h3>
<p class="post-text text-center"> <%= content %> </p>
</div> 
</div>
</body>
</html>