@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: rgb(129, 235, 134);
}

#heading{
    color:white;
    font-size: 32px;
    font-family: 'Itim', cursive;
}

#heading1{
    font-size: 34px;
    font-family: 'Itim', cursive;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}


/* css for the create post file */

.btn-lg{
    border:none;
}
